{% extends "base.html" %}

{% block content %}
<div id="global_nav">
    <a id="signup_link" class="button" href="{{ base_url }}user/new">Sign Up</a>
    <a id="login_link" class="button" href="{{ base_url }}login">Log in</a>
</div>

<div id="landing" class="hide">
    <div class="inner">

        <h1>Fullio</h1>

        <p class="big">Sign up for Fullio!</p>
        {% if error %}<p class="error centre">{{ error }}</p>{% endif %}

        <form id="new_user" action="{{ base_url }}user/new" method="post">
            <input class="centre required" type="text" id="invite" name="invite" value="Invite code">
            <input class="centre hide required email" type="text" id="email" name="email" value="Enter your email">
            <input class="centre hide required password" type="password" id="password" name="password" value="Enter your password">
            <input class="centre hide required" type="text" id="subdomain" name="subdomain" value="Enter your desired subdomain">
            <input class="hide" type="submit" value="Create your Fullio!">
        </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script> 
    jQuery(document).ready(function($) {
 
        $.anystretch("{{ base_url }}assets/i/dv028491.jpg", {speed: 450});
        
        var landing = $('#landing');
 
        function _adjustLanding(landing) {
            var rootElement = ("onorientationchange" in window) ? $(document) : $(window),
                topSpace = (rootElement.height() / 2) - (landing.height() / 2);
            landing.hide().css({ marginTop:topSpace, height:landing.height(), overflow:'hidden' }).fadeIn(200);
        }
        _adjustLanding(landing);
        $(window).resize(_adjustLanding(landing));

        /*
            Swap value for input
        */
        swap_value = [];
        $('input').each(function(i) {
            swap_value[i] = $(this).val();
                $(this).focus(function() {
                if ($(this).val() == swap_value[i]) {
                    $(this).val("");
                }
            }).blur(function() {
                if ($.trim($(this).val()) == "") { 
                    $(this).val(swap_value[i]);
                }
            });
        });

        var expanded = false;
        $('input#invite').focus(function() {
            $('input.hide').show().removeClass('hide');
            if (! expanded)
            {
                landing.animate({ height:(landing.height() + $('form').height()) }, 400);
                expanded = true;
            }
            $("#new_user").validate();
        });
 
    });
</script>
{% endblock %}